
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>@ViewBag.v0</h2>

<div class="alert alert-primary">Total Number of Skills: @ViewBag.v1</div>
<div class="alert alert-info">Total Skill Points: @ViewBag.v2</div>
<div class="alert alert-success">Number of Skills with Values ​​Greater than 70: @ViewBag.v3</div>
<div class="alert alert-warning">Average Value of Skills: @ViewBag.v4</div>
<div class="alert alert-danger">Number of Experiences: @ViewBag.v5</div>
<div class="alert alert-dark">Subheading Developer Count: @ViewBag.v6</div>